/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  padding: 2rem 2rem;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.5;
  margin: 0;
}
.heading {
  font-size: 16rem;
  color: #333333;
  font-weight: 700;
}
.primary--heading {
  color: var(--color-primary);
}
.paragraph-text {
  font-size: 3rem;
  line-height: 64px;
  color: #515c73;
  font-weight: 400;
}

/* color palette */
:root {
  --color-primary: #4381ef;
  --color-secondary: #000;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 0;
}

::selection {
  background-color: #000;
  color: #fff;
}

/* lists */
.list {
  list-style: none;
}
.list__item a {
  font-size: 3rem;
  color: #7e7e7e;
  font-weight: 700;
}
.list__item {
  margin-bottom: 1rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 4rem;
}

/* input & input-group */
.input {
  border: 0;
  padding: 1rem 2rem;
  outline: 0;
  font-size: 3rem;
}
.input-group {
  padding: 2rem 3rem;
  /* box-shadow: 0 0 20px 20px #7e7e7e; */
  filter: drop-shadow(8.485px 8.485px 14.5px rgba(21, 21, 21, 0.02));
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon--search {
  width: 50px;
  height: 50px;
}

/* adding badges */
.badge {
  background-color: #c2d8fe;
  border-radius: 5px;
  font-size: 4.6rem;
  color: #4381ef;
  font-weight: 700;
  padding: 1rem 2rem;
}

/* btns */
.btn {
  border-radius: 5px;
  border: 0;
  color: #ffffff;
  font-size: 45px;
  font-weight: 600;
  line-height: 81px;
  padding: 1rem 2rem;
  white-space: nowrap;
  cursor: pointer;
}
.btn--primary {
  background-color: var(--color-primary);
}
.btn--skeleton {
  font-size: 4rem;
  line-height: 81px;
  color: #333333;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid var(--color-primary);
}
.icon-btn {
  margin-left: 2rem;
  transition: all 0.5s;
}

.icon-btn:hover {
  transform: rotate(-90deg);
  color: var(--color-secondary);
}

/* icons */

.icon-container {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: inline-flex;
  height: 100px;
  justify-content: center;
  /* margin-bottom: 3rem; */
  padding: 2rem;
  width: 100px;
  position: relative;
  z-index: 999;
}
.icon--white {
  color: #fff;
}
/* .container-icons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 1em;
  overflow: hidden;
} */

/* adding media component */
.media {
  /* border: 2px solid var(--color-primary); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem;
  width: fit-content;
  transition: all 0.3s;
}
.media__content {
  margin-left: 2rem;
}
.media__description {
  line-height: 1.1;
  margin: 0;
  font-size: 27px;
  color: #515c73;
  font-weight: 400;
}
.media__heading {
  font-size: 4rem;
  color: #333333;
  font-weight: 700;
}
.media:hover {
  box-shadow: 0 0 20px 20px lightgray;
  border-radius: 20px;
  transform: scale(1.1);
}
/* media - card */
.media-card {
  border-radius: 75px;
  box-shadow: 0 0 20px 20px lightgray;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 4rem;
}
