/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  padding: 2rem 2rem;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.5;
  margin: 0;
}
.heading {
  font-size: 8rem;
  color: #333333;
  font-weight: 700;
}
.primary--heading {
  color: var(--color-primary);
}
.paragraph-text {
  font-size: 3rem;
  line-height: 1.5;
  color: #515c73;
  font-weight: 400;
}

/* color palette */
:root {
  --color-primary: #4381ef;
  --color-secondary: #000;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 0;
}

::selection {
  background-color: #000;
  color: #fff;
}

/* lists */
.list {
  list-style: none;
}
.list__item a {
  font-size: 3rem;
  color: #7e7e7e;
  font-weight: 700;
}
.list__item {
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.list__item:hover,
.list__item:hover a {
  color: #000;
  transform: scale(1.1);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 4rem;
}

/* input & input-group */
.input {
  border: 0;
  padding: 1rem 2rem;
  outline: 0;
  font-size: 3rem;
  background-color: #f2fcfd;
}
.input-group {
  padding: 1rem 3rem;
  /* box-shadow: 0 0 20px 20px #7e7e7e; */
  box-shadow: 0 0 5px 5px lightgray;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon--search {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* adding badges */
.badge {
  background-color: #c2d8fe;
  border-radius: 5px;
  font-size: 4.6rem;
  color: #4381ef;
  font-weight: 700;
  padding: 1rem 2rem;
  margin-right: 2rem;
  transition: all 0.5s;
  text-align: center;
}
.badge:hover {
  color: #fff;
  background-color: tomato;
}

/* btns */
.btn {
  border-radius: 5px;
  border: 0;
  color: #ffffff;
  font-size: 45px;
  font-weight: 600;
  line-height: 81px;
  padding: 1rem 2rem;
  white-space: nowrap;
  cursor: pointer;
}
.btn--primary {
  background-color: var(--color-primary);
}
.btn--skeleton {
  font-size: 4rem;
  line-height: 81px;
  color: #333333;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid var(--color-primary);
}
.icon-btn {
  margin-left: 2rem;
  transition: all 0.5s;
}

.icon-btn:hover {
  transform: rotate(-90deg);
  color: var(--color-secondary);
}

/* icons */

.icon-container {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 100%;
  display: inline-flex;
  height: 90px;
  justify-content: center;
  /* margin-bottom: 3rem; */
  padding: 2rem;
  width: 90px;
  position: relative;
  z-index: 999;
}
.icon--white {
  color: #fff;
}
.icon--hero-block__header {
  cursor: pointer;
  transition: transform 1s;
}
.icon--hero-block__header:hover {
  color: var(--color-primary);
  transform: scale(1.5);
}
/* .container-icons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 1em;
  overflow: hidden;
} */

/* adding media component */
.media {
  /* border: 2px solid var(--color-primary); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem;
  width: fit-content;
  transition: all 0.3s;
}
.media__content {
  margin-left: 2rem;
}
.media__description {
  line-height: 1.1;
  margin: 0;
  font-size: 27px;
  color: #515c73;
  font-weight: 400;
}
.media__heading {
  font-size: 4rem;
  color: #333333;
  font-weight: 700;
}
.media:hover {
  box-shadow: 0 0 20px 20px lightgray;
  border-radius: 20px;
  transform: scale(1.1);
}
/* media - card */
.media-card {
  border-radius: 15px;
  box-shadow: 0 0 20px 20px lightgray;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 4rem;
  background-color: #fff;
}

/* building nav bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2fcfd;
  width: 100%;
  padding: 1rem 4rem;
}
.navbar__logo {
  height: 70px;
  cursor: pointer;
}

/* hero block */
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, minmax(500px, 1fr));
    gap: 0 4rem;
  }
}
.container {
  align-content: center;
}
.hero-block {
  background-color: #f2fcfd;
  margin: 0 auto;
  width: 100%;
}
.hero-block__contents {
  background-color: #fff;
  box-shadow: 0 0 20px 20px lightgray;
  border-radius: 10px;
  padding: 2rem 2rem;
  text-align: center;
}

.hero-block__contents .heading,
.hero-block__contents .paragraph-text {
  text-align: left;
}

.hero-block__image {
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 0 20px 20px lightgray;
  align-self: flex-end;
}
.btn-hero-block {
  position: absolute;
  bottom: 0;
  justify-self: center;
  margin-left: 5rem;
}
