<div class="media-card">
  <div class="media">
    <span class="icon-container"
      ><i class="fa-solid fa-book icon--white fa-2x"></i
    ></span>
    <div class="media__content">
      <h2 class="media__heading">Book a Car</h2>
      <p class="media__description">Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
  <div class="media">
    <span class="icon-container"
      ><i class="fa-solid fa-car icon--white fa-2x"></i
    ></span>
    <div class="media__content">
      <h2 class="media__heading">Book a Car</h2>
      <p class="media__description">Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
  <div class="media">
    <span class="icon-container"
      ><i class="fa-solid fa-life-ring icon--white fa-2x"></i
    ></span>
    <div class="media__content">
      <h2 class="media__heading">Book a Car</h2>
      <p class="media__description">Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>
